<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Демо приложение</title>
    <style>
        .container {
          column-count: 3;
        }
    </style>
</head>
<body>
<h1> Здравствуйте, {{ request.bitrix_user.first_name }} {{ request.bitrix_user.last_name}}</h1>

<a href="{% url 'create_product' %}"><button> Создать товар</button></a>

<a href="{% url 'create_qrcode' %}"><button>Сгенерировать QR код</button></a>
</body>
<script src="//api.bitrix24.com/api/v1/"></script>
</html>